.error-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100vw;
  flex-shrink: none;
  background-image: url(/error-bg.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Digital Numbers";
  text-transform: uppercase;

  .error-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: white;
    font-size: 5vmax;
    font-weight: bold;
    text-align: center;
    text-shadow: 0.3vmax 0px 1vmax cornsilk, -0.15vmax 0px 1vmax cyan;

    h2 {
      padding: 5vmax;
      padding-bottom: 0;
      font-size: 7vmax;
    }

    .error-box {
      display: grid;
      align-items: center;
      justify-items: center;

      h1 {
        position: relative;
        z-index: 1;
        grid-row-start: 1;
        grid-column-start: 1;
        font-size: 15vmax;
        margin: none;
        transition-duration: 200ms;
      }

      i {
        position: relative;
        z-index: 0;
        grid-row-start: 1;
        grid-column-start: 1;
        font-size: 5vmax;
        opacity: 0;
        transition-duration: 200ms;
      }
    }

    .error-box:hover {
      h1 {
        opacity: 0;
        z-index: 0;
      }

      i {
        opacity: 1;
        z-index: 1;
      }
    }
  }
}
