.picture-container {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: astro_font;
  color: white;

  .picture {
    border-radius: 0.5vmax;
    width: 100%;
    background-color: grey;
    text-align: center;
    height: 17vw;
    overflow: hidden;
  }
  .picture img {
    border-radius: 0.5vmax;
    height: 100%;
    object-fit: cover;
  }
  .tilt {
    background-color: grey;
    border-radius: 0.5vmax;
    clip-path: border-box;
  }
}
@media (2/3 < aspect-ratio < 1) {
  .picture-container {
    .picture {
      height: 25vmax;
    }
  }
}

@media (aspect-ratio < 2/3) {
  .picture-container {
    .picture {
      height: 30vmax;
    }
  }
}
