@font-face {
  font-family: "Bruno Ace";
  src: local("Bruno Ace SC Regular"),
    url(./fonts/BrunoAceSC-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Digital Numbers";
  src: local("Digital Numbers"),
    url(./fonts/DigitalNumbers-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "League Gothic";
  src: local("League Gothic"),
    url(./fonts/LeagueGothic-Regular.ttf) format("truetype");
}

.align-center {
  display: flex;
  justify-content: center;
}
