* {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: astro_font;
    color: white;
}

.picture {
    width: 100%;
    background-color: grey;
    text-align: center;
    height: 17vw;
    overflow: hidden;
}
.picture img {
    height: 100%;
}
.tilt {
    background-color: grey;
}
@media (max-width:600px) {
    .picture{
        height: 25vw;
    }
    
}

@media (max-width:400px) {
    .picture{
        height: 30vw;
    }
    
}