* {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: astro_font;
    color: white;
}

@font-face {
    font-family: astro_font;
    src: url(./assets/BrunoAceSC-Regular.ttf);
}
.pictures {
    position: relative;
    padding-top: 13vw;
    width: calc(100% - 3vw);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5vw;
    row-gap: 1vw;
    margin: 1.5vw;
}
.next {
    background-image: url(./assets/rightbutton.png);
}
.back {
    background-image: url(./assets/leftbutton.png);
}
.next,.back {
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    font-size: 40px;
    opacity: 0.7;
    
    background-position: center;
    background-size: cover;
}
.gallery_buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    padding: 1.5vw 0;
}
.next:hover,.back:hover {
    opacity: 1;
    box-shadow: 0vw 0vw 7vw rgb(194, 193, 193);
    transition-delay: 100ms;
    
}

@media (max-width:600px) {
    .pictures {
        grid-template-columns: 1fr 1fr;
        padding-top: 8vw;
        width: calc(100% - 3vw);
    }
    .next,.back {
        height: 10vw;
        width: 10vw;
    }
    
}

@media (max-width:400px) {
    .pictures {
        grid-template-columns: 1fr;
        padding-top: 8vw;
        margin: 0 5vw;
        width: calc(100% - 10vw);
        gap: 3vw;
    }
    
}